.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #34c6eb;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 25px;
  color: white;
  display: block;
}

.mainclass {
  margin-left: 160px;
  padding: 0px 10px;
}

.navbar {
  padding: 20px;
  margin-left: 160px;
  background-color: black;
  height: 60px;
}

.navbar h1 {
  color: white;
}