.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #34c6eb;
  overflow-x: hidden;
}

.sidenav a {
  padding: 10px 8px 6px 16px;
  font-size: 25px;
  color: white;
  display: block;
}

.mainclass {
  margin-left: 160px;
  margin-right: 160px;
  padding: 0px 10px;
}

.navbar {
  top: 0;
  height: 100px;
  padding-left: 20px;
  margin-left: 140px;
  background-color: #34c6eb;
  margin-top: -22px;
  color: white;
}